#movie-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-a-movie-title {
    text-align: center;
    padding: 10px;
    margin: 20px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

#description {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

#movie-form label {
    font-weight: bold;
    color: #1A1E25;
    display: inline-block;
    width: 50px;
}

#movie-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px; 
    width: calc(100% - 110px);
}