body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
	background-color: #1A1E25;
	text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: #2E3A6C; /*#29335C*/
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    font-size: 30px;
    font-weight: bold;
}

/*#navigation {
	
}*/

#navigation-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navigation li {
    position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

#navigation a:hover {
    color: #F3A712; 
}

#search-bar {
    display: flex;
}

#search-bar input {
    padding: 5px;
    margin-right: 5px;
    width: 500px;
}

#search-bar button {
    padding: 6px;
    background-color: #F3A712;
    color: #232323;
    border: none;
    cursor: pointer;
}

#redirecting-btns {
    display: flex;
    justify-content: right;
    gap: 10px;
}

#redirecting-btns button {
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
}

#footer {
	background-color: #2E3A6C;
	color: #fff;
	padding: 10px;
}

.movie-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 150px;
    background-color:#1c2341;
    box-shadow: #1A1E25 0px 0px 10px;
}

.movie-section img {
    width: 150px;
    height: 230px;
    border-radius: 5px;
}

.movie-section h3 {
    font-size: 16px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    margin: 0px;
}

.movie-section p {
    color: #fff;
    font-size: 14px;
}

.movie-section button {
    padding: 10px;
    color: #fff;
    width: 140px;
    background-color: #F3A712;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

#movieList {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}