body,
h1,
p {
	margin: 0;
	padding: 0;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
	background-color: rgb(26, 30, 37);
	text-align: center;
}

main {
    min-height: 80vh;
    font-size: 18px;
    z-index: 1002;
}

a {
    text-decoration: none;
    color: #fff;
    /* height: inherit;
    width: inherit; */
}

#header {
    /* background-color: #2E3A6C;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(rgb(40, 45, 50), rgba(40, 45, 50, 0));
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1001;
    top: 0;
    transition: background-image 0.3s ease; 
}

#header:hover {
    background-image: linear-gradient(rgb(26, 30, 37, 1), rgb(26, 30, 37, 0.7),rgba(26, 30, 37, 0));
}

/* #header h1 {
    font-size: 44px;
    padding: 20px 0px;
    font-weight: bold;
} */

#logo {
    height: 50px; 
    width: auto;
    margin: 20px 0px 40px 20px;
}

#navigation-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navigation li {
    position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
}

#burger-menu, #burger-menu-icon {
    display: none;
}

#burger-menu-icon{
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    #logout{
        display: none;
    }

    #main-nav {
        display: none;
    }

    #burger-menu-icon {
        position: fixed;
        right: 20px; 
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    #burger-menu {
        display: flex;
        flex-direction: column;
        gap: 0;
        position: fixed;
        inset: 0;
        height: 100%;
        width: 50%;
        background-color: #2E3A6C;
        padding: 90px 0px;
        z-index: 1000;
        transform: translateX(200%);
        transition: transform 0.3s ease-in-out;
    }

    #burger-menu.active {
        transform: translateX(100%);
    }

    .redirecting-btns {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .redirecting-btns a:hover {
        border-radius: 0;
    }

    a {
        height: auto;
        width: auto;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#overlay.active {
    display: block;
}

.redirecting-btns {
    display: flex;
    justify-content: right;
}

.redirecting-btns a {
    color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.redirecting-btns a:hover {
    /* background-color: #1f2748;*/
    cursor: pointer; 
    background-color: transparent;
    color: #fff;
}

#footer {
	background-color: #2E3A6C;
	color: #fff;
	padding: 10px;
}

ul {
    padding: 0px;
    list-style-type: none;
}

ul li {
    margin: 10px;
    padding: 10px 30px;
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

ul li:hover {
    background-color: #2E3A6C;
    color: #fff;
    border-radius: 10px;
}

ul button {
    padding: 10px 20px;
    background-color: #F3A712;
    color: #232323;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    min-width: 120px;
}

ul button:hover {
    background-color: #fff;
    color: #2E3A6C;
}




#carousel {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 0;
    overflow: hidden;
    z-index: 1000;
}

/* .carousel {
    position: relative;
    
} */

.carousel__viewport {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.carousel__slide {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    
}

.carousel__slide-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}

.carousel__slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(to bottom, rgba(26, 30, 37, 0) 0%, rgba(26, 30, 37, 1) 100%);
    pointer-events: none; /* Prevents overlay from interfering with clicks */
}

.carousel__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 5px;
}

.carousel__control.prev {
    left: 10px;
}

.carousel__control.next {
    right: 10px;
}

.carousel__control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
