#header {
    /* background-color: #2E3A6C;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); */
    /* background-image: linear-gradient(rgb(40, 45, 50), rgba(40, 45, 50, 0)); */
    background-image: linear-gradient(rgb(50, 60, 110), rgb(35, 45, 80));
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    transition: background-image 0.3s ease; 
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    z-index: 100;
}