#header {
    /* background-color: #2E3A6C;
    color: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); */

    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    background-image: linear-gradient(rgb(26, 30, 37, 1),rgba(26, 30, 37, 0));
    position: fixed;
    z-index: 1001;
    transition: background-image 0.3s ease; 
}

#header:hover {
    background-image: linear-gradient(rgb(26, 30, 37, 1), rgb(26, 30, 37, 0.7),rgba(26, 30, 37, 0));
    transition: background-image 0.3s ease; 
}

.redirecting-btns a {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}
