/* Style the dropdown */
.dropdown a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  /* Change the background color of dropdown items on hover */
  .dropdown a:hover {
    background-color: #f1f1f1;
  }
  
  /* Style the dropdown items when dropdown is open */
  .dropdown.active a {
    display: block;
  }
  
  /* Hide dropdown items by default */
  .dropdown a {
    display: none;
  }
  