select {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}



#carousel {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 0;
    overflow: hidden;
    z-index: 1000;
}

/* .carousel {
    position: relative;
    
} */

.carousel__viewport {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.carousel__slide {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    
}

.carousel__slide-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}

.carousel__slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%; /* Adjust the height of the gradient as needed */
    background: linear-gradient(to bottom, rgba(26, 30, 37, 0) 0%, rgba(26, 30, 37, 1) 100%);
    pointer-events: none; /* Prevents overlay from interfering with clicks */
}

.carousel__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 5px;
}

.carousel__control.prev {
    left: 10px;
}

.carousel__control.next {
    right: 10px;
}

.carousel__control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
