body {
    color: #fff;
}

h3 {
    font-size: 30px;
}


.comment-header {
    color: #ccc;
}

.comment-author {
    font-weight: bold;
    font-size: 12pt;
}

.comment-date {
    font-size: 10pt;
    color: rgb(255, 255, 255, 0.75);
    font-style: italic;
}

.comment-text {
    font-size: 16pt;
    text-align: left;
    margin: 0;
    text-align: left;
}

#comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 100px 100px 100px;
}

#comments-section-add {
    flex-direction: column;
    gap: 20px;
    justify-content: left;
}

#comment-textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#characters-count {
    text-align: right;
}

#save-comment-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    max-height: 50px;
}

#save-comment-btn:hover {
    cursor: pointer;
}

#leave-comment-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

#comment-textarea {
    width: 100%;
}

#comment-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    resize: none;
    font-family: inherit;
}

#comments-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comments-list li {
    display: flex;
    flex-direction: column;
    background-color: #2E3A6C;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: Arial, sans-serif;
    align-items: baseline;
    margin: 0;
}

#movie-info-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 50px;
}

#movie-info-left {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin: 50px;
    padding: 30px;
    background-color: #2E3A6C; 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

#movie-info-left:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
}

#movie-info {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    color: #E0E0E0;
    font-family: 'Poppins', sans-serif;
}

#title {
    font-size: 32px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

#movie-info-left img {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    z-index: 10;
}

#movie-info-left img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    z-index: 20;
}

#movie-info-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#toggle-favourites, #toggle-watched {
    justify-content: center;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    width: 50px;
    color: #fff;
    z-index: 5;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#toggle-favourites i, #toggle-watched i {
    font-size: 18px;
}

#toggle-favourites:hover, #toggle-watched:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;  
}


#toggle-favourites.add-to-favourites:hover, #toggle-watched.add-to-watched:hover {
    background-color: #F44336 ;
}

#toggle-favourites.remove-from-favourites:hover, #toggle-watched.remove-from-watched:hover {
    background-color: #4CAF50;
}

#toggle-favourites.add-to-favourites,
#toggle-watched.add-to-watched {
    background-color: #4CAF50;
}

#toggle-favourites.remove-from-favourites,
#toggle-watched.remove-from-watched {
    background-color: #F44336;
}

#buttons-add-remove {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#info {
    text-align: left;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#info p{
    font-size: 14pt;
    color: rgb(201, 206, 210);
}

@media screen and (max-width: 900px) {
    #movie-info-section {
        flex-direction: column;
    }
    #movie-info {
        margin: 0;
        padding: 0;
    }
    #movie-info section{
        margin: 0;
        padding: 0;
    }
    #comments-section ul {
        margin: 0;
    }

    #comments {
        margin: 50px;
    }
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    
    #comment-textarea {
        width: 100%;
    }

    #comment-input {
        margin: 0;
    }

    #comment-input {
        font-size: 14px;
    }

    #movie-info-left {
        margin: 0;
        padding: 20px;
    }

    #title {
        font-size: 24px;
    }

    #movie-poster {
        width: 100%;
    }
}