h2 {
    background-color: #2E3A6C;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    text-align: center;
    font-size: 44px;
}

h3 {
    color: #fff;
    font-size: 30px;
}

p {
    color: #fff;
    font-size: 20px;
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#movie-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}

#movie-info section {
    margin: 0px 20px;
}

#movie-info img {
    border-radius: 10px;
}

#info-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#comments-section {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    justify-content: left;
}

#comment-textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#characters-count {
    text-align: right;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

#buttons button {
    background-color: #F3A712;
    color: #000;
    font-size: 20px;
}

#info {
    text-align: left;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#save-comment-btn {
    background-color: #2E3A6C;
    color: #fff;
    font-size: 16px;
    height: 50px;
}

#comment-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: 500px;
    resize: none;
    font-family: inherit;
}

#comments-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

#comments-list li {
    padding: 10px;
    border-radius: 10px;
    background-color: #2E3A6C;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}