body {
    font-family: Arial, sans-serif;
	background-color: #1A1E25;
	text-align: center;
}

#header {
    color: white;
    /*justify-content: space-between;*/
    margin: 60px;
}

#header h1 {
    font-size: 40px;
    font-weight: bold;
}

main {
    margin: 20px;
    display: flex;
    justify-content: center;
    color:  #1A1E25;
}

#form {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

#formHeader {
    margin: 0px;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    margin: 4px;
    color:  #1A1E25;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px 20px;
    margin: 20px; 
    background-color: #F3A712;
    color: #232323;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    min-width: 120px;
} 

button:hover {
    background-color: #f7bd4b;
    color: #2E3A6C;
}

p {
    margin: 10px;
}

/*.psw {
    margin-top: 20px;
    text-align: center;    Никъде не се използва
    color: #666666;
}*/

.error-message {
    color: red;
    margin: 4px;
    font-size: 12px;
}

#footer {
	background-color: #2E3A6C;
	color: #fff;
	padding: 10px;
    margin-top: 60px;
}