body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, sans-serif;
	background-color: #1A1E25;
	text-align: center;
}

#header {
    color: white;
}

#header h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 60px;
}

main {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:  #1A1E25;
}

#registrationForm {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#registrationHeader {
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-right: 8px;
    color:  #1A1E25;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.psw {
    margin-top: 20px;
    text-align: center;
    color: #666666;
}

.error-message {
    color: red;
    margin: 10px 0px;
    font-size: 14px;
}

#footer {
	background-color: #2E3A6C;
	color: #fff;
	padding: 10px;
}