body {
    font-family: Arial, sans-serif;
	background-color: #1A1E25;
	text-align: center;
}

#header {
    color: white;
}

#header h1 {
    font-size: 40px;
    font-weight: bold;
}

main {
    margin: 50px;
    display: flex;
    justify-content: center;
    color:  #1A1E25;
}

#form {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#formHeader {
    margin: 0px;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-right: 8px;
    color:  #1A1E25;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    margin: 10px;
}

.error-message {
    color: red;
    margin: 4px;
    font-size: 12px;
}

#footer {
	background-color: #2E3A6C;
	color: #fff;
	padding: 10px;
    margin-top: 60px;
}